.about_page {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	position: relative;
} 

.about_picture {
	width: 100%;
	height: 370px;
	background-image: url(https://shtheme.org/demosd/mecare/wp-content/uploads/2020/11/test-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 20px;
}

.about_text h1 {
	color: #013243;
	position: absolute;
	top: 190px;
	font-weight: 900;
	font-size: 50px;
	padding: 15px 30px;
	font-family: 'Titillium Web', sans-serif;
	margin-left: -200px;
}

/*Decription*/

.about_a {
	width: 1800px;
	margin-top: 130px;
	display: flex;
	flex-wrap: wrap;
	height: 500px;
}


.about_avatar{
	width: 800px;
}

.about_avatar img{
	margin-left: 45px;
}

.about_content{
/* margin-bottom: -200px; */
width: 400px;
margin-left: 300px;
height: 200px;
margin-top: 200px;
}
.about_title{
font-family: 'Titillium Web', sans-serif;
color: #013243;
margin-right: 10px;
font-weight: bold;
font-size: 35px;
}

.about_desc{
	color: black;
	font-size: 17px;
	text-align: center;
	margin-left: 20px;
	justify-content: center;
}


/* Team*/

.team {
	width: 1800px;
	height: 600px;
	margin-top: 400px;
}

.team span {
	display: center;
	float: center;
	font-size: 25px;
	color: #013243;
	font-family: 'Titillium Web', sans-serif;
	margin-right: 20px;
}

.team p {
	font-size: 55px;
	font-weight: bold;
	text-align: center;
	color: #013243;
	font-family: 'Titillium Web', sans-serif;
	margin-right: 20px;
}

.about_user_details {
	background: white padding-box;
	box-shadow: 3px 4px 15px #0000001A;
	border-radius: 10px;
	border-color: #013243;
	width: 30%;
	color: #525c7b;
	margin-left: 650px;
	height: 50%;
}

.about_user_detail {
	margin-top: -170px;
	color: black;
	margin-right: 50px;
}

.about_user_detail h3 {
	margin-left:-80px;
	font-size:22px;
}

.about_user_detail h5 {
	margin-left:-150px;
	font-size:15px;
	color:blue;
}

.about_user_details img {
	margin-top: 50px;
	margin-left:-500px;
}

 .client_text p {
	color: black;
	font-size: 16px;
	text-align: left;
	margin-left: 110px;
}
