.cancer_page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    position: relative;
}


.cancer_picture{
    width: 100%;
    height: 500px;
    background-image: url(https://shtheme.org/demosd/mecare/wp-content/uploads/2020/08/blog_img01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.cancer_text{
    color: #013243;
	position: absolute;
	top: 190px;
	font-weight: 900;
	font-size: 70px;
	padding: 15px 30px;
    font-family: 'Titillium Web', sans-serif;
    margin-right:100px;
}

#standard{
    width: 400px;
    text-align: left;
    border-radius:30px;
    border:1px ;
}
.cancer_form{
	margin-top: 100px;
    height: 600px;
    width: 100%;
    margin-right: 80px;
}
 #cancer_title
 {
    font-family: 'Titillium Web', sans-serif;
    color: #013243;
    font-size: 40px;
    margin-top: 20px;
    margin-left: -50px;
    font-weight: bold;
}

.cancer_form1{
    width: 40%;
    margin-top: 30px;
    margin-left: 150px;
}

.cancer_result{
    margin-left: 150px;
    width: 400px;
    margin-top: 30px;
}

.form_textfield_heart{
    margin-left: 500px;
    width: 44%;
    height:100%;
    background: white padding-box;
	box-shadow: 3px 4px 15px #0000001A;
	border-radius: 10px;
    border-color: #013243;
}