.form_page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    position: relative;
}


.form_picture{
    width: 100%;
    height: 500px;
    background-image: url(https://shtheme.org/demosd/mecare/wp-content/uploads/2020/08/blog_img01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.form_text{
    color: #013243;
	position: absolute;
	top: 190px;
	font-weight: 900;
	font-size: 70px;
	padding: 15px 30px;
    font-family: 'Titillium Web', sans-serif;
    margin-right: 40px;
}

#standard-basic{
    width: 400px;
    text-align: left;
}
.form{
    width: 100%;
	margin-top: 150px;
    height: 500px;
    margin-right: 80px;
}

#form_title{
    font-family: 'Titillium Web', sans-serif;
    color: #013243;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 60px;
    font-weight: bold;
}

.form1{
    width: 40%;
    margin-left:50px;
}
.form2{

    width: 40%;
    margin-top: -335px;
    margin-left: 700px;
}
.result{
    margin-left: -290px;
    width: 400px;
}

.form_textfield{
    height: 98%;
    width: 70%;
    margin-left:300px;
    background: white padding-box;
	box-shadow: 3px 4px 15px #0000001A;
	border-radius: 10px;
    border-color: #013243;
    margin-bottom: 400px;
}

