

.appointment{
    display: flex;
    flex-direction: column;
}

.app__book{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.appointment__img{
    width: 100%;
    height: 250px;
    background-image: url(https://forms.3fivetwo.com/images2/banner3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book_view{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app_list{
    width: 50%;
    padding: 20px 80px;
    border-bottom: 1px solid black;
}

.available{
    color: #097921;
}

.unavailable{
    color: red;
}