.homepage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    position: relative;
}


.homepage__picture{
    width: 100%;
    height: 500px;
    background-image: url(https://images.squarespace-cdn.com/content/v1/561feb4ee4b0de0eb30d6d3c/1580755887641-N9GEMHC4VZ69GE29RJ81/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0pE4cef1KNtWo36k-CFnr6wOF2g5O-PFkVuvW_ba6dQUZZpzEt6WQHHQe4EHY-NJIA/23153182_m.png?format=1500w);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.homepage__text{
    color: azure;
    position: absolute;
    top: 190px;
    font-weight: 900;
    font-size: 25px;
    padding: 15px 30px;
    cursor: pointer;
    border: 1px solid white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homepage__text:hover{
    background-color: rgba(245, 222, 179, 0.116);
}

.random{
    max-width: 1366px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
